@model SalesboyNigeria.Models.Order

@{
    ViewBag.Title = "checkoutOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SalesboyNigeria.Models.salesboyEntities db = new SalesboyNigeria.Models.salesboyEntities();
    string email = Session["email"].ToString();
    string userid = Session["userid"].ToString();
    var user = db.UserAccounts.Find(userid);
    int sn = 0;
    int total = 0;
}
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="card-header">
                    Order Paymemets
                </div>
                <table class="table table-striped">
                    <tr>
                        <th>
                            SN
                        </th>
                        <th>
                            Item
                        </th>
                        <th>
                            Qty/Unit Price
                        </th>
                        <th>
                            Amount(N)
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in db.Carts.Where(p => p.useremail == email).ToList())
                    {
                        int amt = Convert.ToInt32(item.Product.price * item.qty);
                        total += amt; //adds to the total sum
                        sn++;
                        <tr>
                            <td>
                                @sn
                            </td>
                            <td>
                                <img src="@item.Product.photo1" width="50px" height="50px" alt="product Image" />
                                <strong>@item.Product.productname</strong>
                            </td>
                            <td>
                                @item.qty * @item.Product.price
                            </td>
                            <td>
                                <strong>N @amt</strong>
                            </td>
                            <td>
                                <span class="text-danger btn" onclick="deleteItem('@item.id')">X</span>
                            </td>
                        </tr>
                    }
                    <tr>
                        <th colspan="3">TOTAL (N)</th>
                        <th>
                            <strong>N @total</strong>
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <th colspan="5">
                            <center>
                                <figure><a class="btn btn-primary btn-rounded" href="#" onclick="makePayment()">Pay With Flutterwave</a></figure>
                            </center>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <script>
                     function makePayment(){
                        FlutterwaveCheckout({
                            public_key:
                            "FLWPUBK_TEST-8d049f5bf0756776e6392f6cfd90b024-X",
                            //"FLWPUBK-c5e118f90e3526be42f41806ae39c63c-X",
                            tx_ref: "@Guid.NewGuid().ToString()",
                            amount:  @total,
                            currency: "NGN",
                                country: "NG",
                            //payment_options: " ",
                            //redirect_url: "@Url.Action("myprofile","Products")", // specified redirect URL
                               // "http://localhost:3474/Admissions/AdmissionStatus",
                            customer: {
                                email: "@user.Email",
                                phone_number: "@user.phone",
                                name: "@user.firstname @user.lastname",
                                },
                                callback: function (data) { // specified callback function
                                    console.log(data);
                                    /* Get from elements values */
                                    var values =
                                    {
                                        id: "@user.Id-@SalesboyNigeria.setup.GenerateID.GetID()",
                                        trnxid: data.tx_ref,
                                        amountpaid: data.amount,
                                        trnxid: data.transaction_id,
                                        paid_by: data.customer.name,
                                        pay_email: data.customer.email,
                                        pay_phone: data.customer.phone_number,
                                        pay_status: data.status,
                                        ref_no: data.tx_ref,
                                        gateway_ref: data.flw_ref,
                                        currency: data.currency
                                    }; //$(this).serialize();

                                     $.ajax({
                                            url: "@Url.Action("payment","UserAccounts")",
                                            type: "post",
                                            data: values ,
                                            success: function (response) {
                                                // You will get response from your PHP page (what you echo or print)
                                                //alert(response.responseText);
                                                console.log(response);
                                            },
                                            error: function(jqXHR, textStatus, errorThrown) {
                                               console.log(textStatus, errorThrown);
                                            }
                                        });
                            },
                                customizations: {
                                    title: "Salesboy Nigeria Payment",
                                    description: "Fee Payment",
                                    logo: "https://salesboynigeria.com/Content/Images/logo.png",
                                },
                            });
                        }
        </script>
        <script type="text/javascript">
            function deleteItem(id) {
                var values = {
                    id: id
                };

                $.ajax({
                    url: "@Url.Action("deletecart","products")",
                    type: "post",
                    data: values ,
                    success: function (response) {
                        //alert(response.responseText);
                        console.log(response);
                        window.location.reload();
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log(textStatus, errorThrown);
                    }
                });
            }

        </script>
        <script src="https://checkout.flutterwave.com/v3.js"></script>
    </div>
</div>