
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SalesboyNigeria.Models.salesboyEntities db = new SalesboyNigeria.Models.salesboyEntities();
}
<div class="container">
<div class="row">
<div class="col-md-12">
    <hr />
    <strong>
        Products
    </strong>
    <hr />
</div>
@foreach (var item in db.Products.ToList())
{
    <div class="col-md-3 col-xs-3 col-sm-3 col-6 col-lg-3 col-xl-3 ">
        <hr />
        <div class="card">
            <div class="card-body">
                <a href="@Url.Action("","")"><img src="@item.photo1" alt="" class="btn img-fluid img-responsive"></a>


                <div class="ps-product ps-product--inner">
                    <div class="ps-product__thumbnail">
                        <div class="ps-product__badge">-16%</div>
                        <ul class="ps-product__actions">
                            <li></li>
                            <li><a href="#" data-placement="top" title="Quick View" data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add to Whishlist"><i class="icon-heart"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="icon-chart-bars"></i></a></li>
                        </ul>
                    </div>
                    <div class="ps-product__container">
                        <p class="ps-product__price sale">
                            N @item.price @*<del></del><small>18% off</small>*@
                        </p>
                        <a class="ps-product__title" href="@Url.Action("","")">@item.productname</a>
                        <a href="#" class="btn btn-block btn-warning yellow" onclick="Addcart('@item.id', '@item.productname', '@Session["email"]','', '@item.price', '1')" title="">Add cart</a>
                        <a class="ps-product__title" href="@Url.Action("EditProducts","Products", new {id = item.id})">Edit Products</a>

                        <div class="ps-product__content">

                            @*<div class="ps-product__rating">
        <select class="ps-rating" data-read-only="true">
            <option value="1">1</option>
            <option value="1">2</option>
            <option value="1">3</option>
            <option value="1">4</option>
            <option value="2">5</option>
        </select>
        <span>01</span>
    </div>
    <div class="ps-product__progress-bar ps-progress" data-value="82">
        <div class="ps-progress__value"><span></span></div>
        <p>
            Sold:39
        </p>
    </div>*@

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<div class="col-md-12">
    <hr />
    <strong>
        Service Providers
    </strong>
    <hr />
</div>
<!--List of services providers-->
@foreach (var item in db.ServiceProviders.ToList())
{
    <div class="col-md-3 col-xs-3 col-sm-3 col-6 col-lg-3 col-xl-3 ">
        <hr />
        <div class="card">
            <div class="card-body">
                <a href="@Url.Action("","")"><img src="@item.photo" alt="" class="btn img-fluid img-responsive"></a>


                <div class="ps-product ps-product--inner">
                    <div class="ps-product__thumbnail">
                        <div class="ps-product__badge">-16%</div>
                        <ul class="ps-product__actions">
                            <li></li>
                            <li><a href="#" data-placement="top" title="Quick View" data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add to Whishlist"><i class="icon-heart"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="icon-chart-bars"></i></a></li>
                        </ul>
                    </div>
                    <div class="ps-product__container">
                        <p class="ps-product__price sale">
                            N 00 @*<del></del><small>18% off</small>*@
                        </p>
                        <a class="ps-product__title" href="@Url.Action("","")">@item.brandname</a>
                        @*<a href="#" class="btn btn-block btn-warning yellow" onclick="Addcart('@item.id', '@item.productname', '@Session["email"]','', '@item.price', '1')" title="">Add cart</a>*@
                        <div class="ps-product__content">

                            @*<div class="ps-product__rating">
                                <select class="ps-rating" data-read-only="true">
                                    <option value="1">1</option>
                                    <option value="1">2</option>
                                    <option value="1">3</option>
                                    <option value="1">4</option>
                                    <option value="2">5</option>
                                </select>
                                <span>01</span>
                            </div>
                            <div class="ps-product__progress-bar ps-progress" data-value="82">
                                <div class="ps-progress__value"><span></span></div>
                                <p>
                                    Sold:39
                                </p>
                            </div>*@

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

</div>
</div>