
@{
    ViewBag.Title = "Register";
    SalesboyServiceProviders.Models.salesboyEntities db = new SalesboyServiceProviders.Models.salesboyEntities();
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="ps-page--my-account">
    @*<div class="ps-breadcrumb">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li>My account</li>
                    </ul>
                </div>
            </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>*@
    <div class="ps-my-account">
        <div class="container">
            <div class="ps-form--account ps-tab-root">
                @*<ul class="ps-tab-list">
                        <li class="active"><a href="#sign-in">Vendor</a></li>
                        <li><a href="#register">Service Provider</a></li>
                    </ul>*@
                <div class="ps-tabs">
                    <div class="ps-tab active card" id="sign-in">
                        <div class="ps-post__content">
                            @*<p class="text-center">
                                    <a href="@Url.Action("Register","UserAccounts")" class="fw-medium text-primary badge badge-soft-warning">
                                        Register as a user/buyer
                                    </a> ||
                                    <a href="@Url.Action("RegisterServiceProvider","UserAccounts")" class="fw-medium text-primary badge badge-soft-warning">
                                        Register as a Service Provider
                                    </a>
                                </p>*@
                            <center>
                                <img src="~/Content/Images/logo.png" alt="" height="80">
                            </center>
                            <hr />

                            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up as a Service Provider</p>
                            <hr />
                            <form class="mx-1 mx-md-4" method="post" action="@Url.Action("Register","ServiceProviders")">
                                @Html.AntiForgeryToken()
                                <strong class="text-danger">
                                    @TempData["message"]
                                </strong>
                                <hr />
                                <div class="d-flex flex-row align-items-center mb-4">
                                    <div class="form-outline flex-fill mb-0">
                                        <label class="form-label" for="form3Example1c">First Name</label>
                                        <input type="text" name="firstname" id="" class="form-control" />
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <div class="form-outline flex-fill mb-0">
                                        <label class="form-label" for="form3Example1c">Last Name</label>
                                        <input type="text" name="lastname" id="" class="form-control" />
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-4">
                                    <div class="form-outline flex-fill mb-0">
                                        <label class="form-label" for="form3Example3c">Phone</label>
                                        <input type="text" name="phone" id="" class="form-control" />
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-4">
                                    <div class="form-outline flex-fill mb-0">
                                        <label class="form-label" for="form3Example3c">State of Residence</label>
                                        <select class="form-control" name="state" required="">
                                            @foreach (var item in db.States.OrderBy(p => p.states).ToList())
                                            {
                                                <option value="@item.states">@item.states</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="d-flex flex-row align-items-center mb-4">
                                    <div class="form-outline flex-fill mb-0">
                                        <label class="form-label" for="form3Example3c">Your Email</label>
                                        <input type="email" name="email" id="" class="form-control" />
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <div class="form-outline flex-fill mb-0">
                                        <label class="form-label" for="">Password</label>
                                        <input type="password" name="password" id="" class="form-control" />
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <div class="form-outline flex-fill mb-0">
                                        <label class="form-label" for="form3Example4cd">Repeat your password</label>
                                        <input type="password" name="cpassword" id="" class="form-control" />
                                    </div>
                                </div>


                                <div class="ps-checkbox">
                                    <input class="form-control" type="checkbox" id="save-next-time" placeholder="" name="accept">
                                    <label for="save-next-time">I agree all statements in <a href="#!">Terms of service</a></label>
                                </div>
                                <hr />

                                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                    <button class="ps-btn ps-btn--fullwidth">Register</button>
                                </div>

                            </form>
                        </div>

                        <div class="ps-form__footer">
                            <div class="mt-5 text-center">
                                <p>
                                    Already have an account ? <a href="@Url.Action("Register", "Serviceproviders")" class="fw-medium text-primary"> Login now </a>
                                </p>
                            </div>
                            <div class="mt-5 text-center">
                                <p>
                                    Become a Vendor <a target="_blank" href="https://vendors.salesboynigeria.com" class="fw-medium text-primary"> Signup now </a>
                                </p>
                            </div>
                            @*<p>Connect with:</p>
        <ul class="ps-list--social">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>*@
                        </div>

                    </div>
                    <div class="ps-tab" id="register">

                    </div>
                </div>
            </div>

            <br />
            <br />
            <br />
        </div>
    </div>
</div>
