
@{
    ViewBag.Title = "ShipperDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "myprofile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "myprofile";
    SalesboyLogistics.Models.salesboyEntities db = new SalesboyLogistics.Models.salesboyEntities();
    string userid = Session["userid"].ToString();
    var user = db.UserAccounts.Find(userid);
    int sn = 0;
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div class="container">
    <hr />
    <!-- start row -->
    <div class="row">
        <div class="col-md-12 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="profile-widgets py-3">
                        <div class="text-center">
                            <div class="">
                                <img src="@user.photo" width="100" height="100" alt="" class="avatar-lg mx-auto img-thumbnail rounded-circle">
                                <div class="online-circle">
                                    <i class="fas fa-circle text-success"></i>
                                </div>
                            </div>
                            <div class="mt-3 ">
                                <a href="#" class="text-dark fw-medium font-size-16">
                                    @user.firstname @user.lastname
                                </a>
                                <p class="text-body mt-1 mb-1">
                                    @user.usertype
                                </p>
                                <a href="#" class="badge bg-success" data-toggle="modal" data-target="#myModal">Change Picture</a>
                                <a href="" class="badge bg-danger">Edit Profile</a>
                            </div>

                            <div class="row mt-4 border border-start-0 border-end-0 p-3">
                                <div class="col-md-6">
                                    <h6 class="text-muted">
                                        Followers
                                    </h6>
                                    <h5 class="mb-0">9,025</h5>
                                </div>

                                <div class="col-md-6">
                                    <h6 class="text-muted">
                                        Following
                                    </h6>
                                    <h5 class="mb-0">11,025</h5>
                                </div>
                            </div>

                            <div class="mt-4">

                                <ul class="list-inline social-source-list">
                                    <li class="list-inline-item">
                                        <div class="avatar-xs">
                                            <span class="avatar-title rounded-circle">
                                                <i class="mdi mdi-facebook"></i>
                                            </span>
                                        </div>
                                    </li>

                                    <li class="list-inline-item">
                                        <div class="avatar-xs">
                                            <span class="avatar-title rounded-circle bg-info">
                                                <i class="mdi mdi-twitter"></i>
                                            </span>
                                        </div>
                                    </li>

                                    <li class="list-inline-item">
                                        <div class="avatar-xs">
                                            <span class="avatar-title rounded-circle bg-danger">
                                                <i class="mdi mdi-google-plus"></i>
                                            </span>
                                        </div>
                                    </li>

                                    <li class="list-inline-item">
                                        <div class="avatar-xs">
                                            <span class="avatar-title rounded-circle bg-pink">
                                                <i class="mdi mdi-instagram"></i>
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3">Personal Information</h5>

                    <p class="card-title-desc">

                    </p>

                    <div class="mt-3">
                        <p class="font-size-12 text-muted mb-1">Email Address</p>
                        <h6 class="">
                            @user.Email
                        </h6>
                    </div>

                    <div class="mt-3">
                        <p class="font-size-12 text-muted mb-1">Phone number</p>
                        <h6 class="">@user.phone</h6>
                    </div>

                    <div class="mt-3">
                        <p class="font-size-12 text-muted mb-1">Office Address</p>
                        <h6 class="">
                            @user.address
                        </h6>
                    </div>

                </div>
            </div>

            @*<div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-2">My Top Skills</h5>
                        <p class="text-muted">Suspendisse mattis rutrum orci eu pellentesque. </p>
                        <ul class="list-unstyled list-inline language-skill mb-0">
                            <li class="list-inline-item badge bg-primary"><span>java</span></li>
                            <li class="list-inline-item badge bg-primary"><span>Javascript</span></li>
                            <li class="list-inline-item badge bg-primary"><span>laravel</span></li>
                            <li class="list-inline-item badge bg-primary"><span>HTML5</span></li>
                            <li class="list-inline-item badge bg-primary"><span>android</span></li>
                            <li class="list-inline-item badge bg-primary"><span>zengo</span></li>
                            <li class="list-inline-item badge bg-primary"><span>python</span></li>
                            <li class="list-inline-item badge bg-primary"><span>react</span></li>
                            <li class="list-inline-item badge bg-primary"><span>php</span></li>
                        </ul>
                    </div>
                </div>*@
        </div>

        <div class="col-md-12 col-xl-9">
            <div class="row">
                <div class="col-md-12 col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <p class="mb-2">Orders</p>
                                    <h4 class="mb-0">524</h4>
                                </div>
                                <div class="col-4">
                                    <div class="text-end">
                                        <div>
                                            2.06 % <i class="mdi mdi-arrow-up text-success ml-1"></i>
                                        </div>
                                        <div class="progress progress-sm mt-3">
                                            <div class="progress-bar" role="progressbar" style="width: 62%" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <p class="mb-2">Transactions</p>
                                    <h4 class="mb-0">5</h4>
                                </div>
                                <div class="col-4">
                                    <div class="text-end">
                                        <div>
                                            3.12 % <i class="mdi mdi-arrow-up text-success ms-1"></i>
                                        </div>
                                        <div class="progress progress-sm mt-3">
                                            <div class="progress-bar bg-warning" role="progressbar"
                                                 style="width: 78%" aria-valuenow="78" aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <p class="mb-2">Shipments</p>
                                    <h4 class="mb-0">N6,245</h4>
                                </div>
                                <div class="col-4">
                                    <div class="text-end">
                                        <div>
                                            2.12 % <i class="mdi mdi-arrow-up text-success ml-1"></i>
                                        </div>
                                        <div class="progress progress-sm mt-3">
                                            <div class="progress-bar bg-success" role="progressbar"
                                                 style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Orders</h4>
                    <div class="table-responsive">
                        <table class="table table-striped table-center-0">
                            <tr>
                                <th>
                                    SN
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Phone
                                </th>
                            </tr>

                            @foreach (var item in db.Orders.Where(p => p.useremail == user.Email).ToList())
                            {
                                sn++;
                                <tr>
                                    <td>
                                        @sn
                                    </td>
                                    <td>
                                        @item.UserAccount.firstname
                                    </td>
                                    <td>
                                        @item.customeremail
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    @*<div class="mt-3">
                        <ul class="pagination pagination-rounded justify-content-center mb-0">
                            <li class="page-item">
                                <a class="page-link" href="#">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
    <!-- sample modal content -->
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="myModalLabel">
                        Modal Heading
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="@Url.Action("ProfilePicture","UserAccounts")" method="post" enctype="multipart/form-data">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="name" value="@user.Id" />
                                <input type="hidden" name="id" value="@user.Id" />
                                <label>Select Photo</label>
                                <input type="file" name="file" required="" />
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="submit" class="btn btn-primary waves-effect waves-light">
                                        Upload
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <hr />
</div>
