@model IEnumerable<SalesboyNigeria.Models.Payment>

@{
    ViewBag.Title = "MyPayments";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sn = 0;
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <table id="datatable-buttons"
                       class="table table-striped table-bordered dt-responsive nowrap"
                       style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>
                                SN
                            </th>
                            <th>Title</th>
                            <th>
                                Payment date
                            </th>
                            <th>
                                Full Name
                            </th>
                            <th>
                                Phone
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Payment type
                            </th>
                            <th>
                                Category
                            </th>
                            <th>
                                Amount(N)
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            sn++;
                            <tr>
                                <td>
                                    @sn
                                </td>
                                <td>
                                    @item.title
                                </td>
                                <td>
                                    @item.trnxdate
                                </td>
                                <td>
                                    @item.name
                                </td>
                                <td>
                                    @item.phone
                                </td>
                                <td>
                                    @item.email
                                </td>
                                <td>
                                    @item.paymenttype
                                </td>
                                <td>
                                    @item.category
                                </td>
                                <td>
                                    @item.amount
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
