@model IEnumerable<SalesboyNigeria.Models.UserAccount>

@{
    ViewBag.Title = "Index";
    int sn = 0;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            SN
        </th>
        <th>
            Name
        </th>
        <th>
            Phone
        </th>
        <th>
            Email
        </th>
        <th>
            User Type
        </th>
    </tr>

@foreach (var item in Model.OrderByDescending(p=>p.insertdate)) {
    sn++;
    <tr>
        <td>
            @sn
        </td>
        <td>
           @item.firstname @item.lastname
        </td>
        <td>
            @item.phone
        </td>
        <td>
            @item.Email
        </td>
        <td>
            @item.usertype
        </td>
    </tr>
}

</table>
