@model IEnumerable<SalesboyNigeria.Models.Order>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sn = 0;
}
<div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-header">
                    All Orders
                </div>
                <table class="table table-striped">
                    <tr>
                        <th>SN</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Status</th>
                        <th>Order Date</th>
                    </tr>
                    @foreach (var item in Model.OrderByDescending(p => p.insertdate).ToList())
                    {
                        sn++;
                        <tr>
                            <td>@sn</td>
                            <td>
                                @item.UserAccount.firstname
                                @item.UserAccount.lastname
                            </td>
                            <td>
                                @item.UserAccount.Email
                            </td>
                            <td>
                                @item.UserAccount.phone
                            </td>
                            <td>
                                @item.status
                            </td>
                            <td>
                                @item.orderdate
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>