@model IEnumerable<SalesboyNigeria.Models.UserAccount>

@{
    ViewBag.Title = "Vendors";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //SalesboyNigeria.Models.salesboyEntities db = new SalesboyNigeria.Models.salesboyEntities();
    int sn = 0;
}
<div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="card-header">
                    Vendors
                </div>
                <div class="table-rep-plugin">
                    <div class="table-responsive mb-0" data-pattern="priority-columns">
                        <table id="tech-companies-1" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Business Name</th>
                                    <th>City</th>
                                    <th>Address</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.OrderByDescending(p => p.insertdate).ToList())
                                {
                                    sn++;
                                    <tr>
                                        <td>@sn</td>
                                        <td>
                                            @item.firstname
                                            @item.lastname
                                        </td>
                                        <td>
                                            @item.Email
                                        </td>
                                        <td>
                                            @item.phone
                                        </td>
                                        <td>
                                            @item.brandname
                                        </td>
                                        <td>
                                            @item.city
                                        </td>
                                        <td>
                                            @item.address
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

