@model SalesboyVendors.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.productname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.producttype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producttype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bgphoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bgphoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tags)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.size1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.size1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.size2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.size2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.size3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.size3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.size4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.size4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.color1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.color1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.color2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.color2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.color3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.color3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.color4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.color4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inserdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inserdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modelno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modelno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brabdname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brabdname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.otherfeatures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.otherfeatures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor.userid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor.userid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
