<!--MENU START-->
<div class="navigation--list">
    <div class="navigation__content">
        <a class="navigation__item ps-toggle--sidebar" href="#menu-mobile"><i class="icon-menu"></i><span> Menu</span></a>
        <a class="navigation__item ps-toggle--sidebar" href="#navigation-mobile"><i class="icon-list4"></i><span> Categories</span></a>
        <a class="navigation__item ps-toggle--sidebar" href="#search-sidebar"><i class="icon-magnifier"></i><span> Search</span></a>
        <a class="navigation__item ps-toggle--sidebar" href="#cart-mobile"><i class="icon-bag2"></i><span> Cart</span></a>
        <a class="navigation__item ps-t" href="#" data-toggle="modal" data-target="#welcome"><i class="icon-bag2"></i><span> modal</span></a>
    </div>
</div>
<!--MENU END-->


<div class="ps-panel--sidebar" id="cart-mobile">
    <div class="ps-panel__header">
        <h3>Shopping Cart</h3>
    </div>
    <div class="navigation__content">
        <div class="ps-cart--mobile">
            <div class="ps-cart__content">
                <div class="ps-product--cart-mobile">
                    <div class="ps-product__thumbnail">
                        <a href="#"><img src="~/Content/Home/img/products/clothing/7.jpg" alt=""></a>
                    </div>
                    <div class="ps-product__content">
                        <a class="ps-product__remove" href="#"><i class="icon-cross"></i></a>
                        <a href="@Url.Action("","")">MVMTH Classical Leather Watch In Black</a>
                        <p>
                            <strong>Sold by:</strong> YOUNG SHOP
                        </p>
                        <small>1 x N59.99</small>
                    </div>
                </div>
            </div>
            <div class="ps-cart__footer">
                <h3>
                    Sub Total:
                    <strong>N59.99</strong>
                </h3>
                <figure><a class="ps-btn" href="@Url.Action("","")">View Cart</a><a class="ps-btn" href="@Url.Action("","")">Checkout</a></figure>
            </div>
        </div>
    </div>
</div>
<!--include ../../data/menu/menu-product-categories-->
<div class="ps-panel--sidebar" id="navigation-mobile">
    <div class="ps-panel__header">
        <h3>Categories</h3>
    </div>
j<div class="ps-panel__content">
        <div class="menu--product-categories">
            <div class="menu__toggle">
                <i class="icon-menu"></i>
                <span> Shop by Categories</span>
            </div>
            <div class="menu__content">
                <ul class="menu--mobile">
                    <li>
                        <a href="@Url.Action("","")">Hot Promotions</a>
                    </li>
                    <li class="menu-item-has-children has-mega-menu">
                        <a href="#">Consumer Electronic</a>
                        <span class="sub-toggle"></span>
                        <div class="mega-menu">
                            <div class="mega-menu__column">
                                <h4>
                                    Electronic
                                    <span class="sub-toggle"></span>
                                </h4>
                                <ul class="mega-menu__list">
                                    <li>
                                        <a href="@Url.Action("","")">Home Audio &amp; Theathers</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("","")">TV &amp; Videos</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("","")">Camera, Photos &amp; Videos</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("","")">Cellphones &amp; Accessories</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("","")">Headphones</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("","")">Videosgames</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("","")">Wireless Speakers</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("","")">Office Electronic</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mega-menu__column">
                                <h4>
                                    Accessories &amp; Parts
                                    <span class="sub-toggle"></span>
                                </h4>
                                <ul class="mega-menu__list">
                                    <li>
                                        <a href="@Url.Action("","")">Digital Cables</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("","")">Audio &amp; Video Cables</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("","")">Batteries</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Clothing &amp; Apparel</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Home, Garden &amp; Kitchen</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Health &amp; Beauty</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Yewelry &amp; Watches</a>
                    </li>
                    <li class="menu-item-has-children has-mega-menu">
                        <a href="#">Computer &amp; Technology</a>
                        <span class="sub-toggle"></span>
                        <div class="mega-menu">
                            <div class="mega-menu__column">
                                <h4>
                                    Computer &amp; Technologies
                                    <span class="sub-toggle"></span>
                                </h4>
                                <ul class="mega-menu__list">
                                    <li>
                                        <a href="@Url.Action("","")">Computer &amp; Tablets</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("","")">Laptop</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("","")">Monitors</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("","")">Networking</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("","")">Drive &amp; Storages</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("","")">Computer Components</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("","")">Security &amp; Protection</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("","")">Gaming Laptop</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("","")">Accessories</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Babies &amp; Moms</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Sport &amp; Outdoor</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Phones &amp; Accessories</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Books &amp; Office</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Cars &amp; Motocycles</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Home Improments</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Vouchers &amp; Services</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--+createMenu(product_categories, 'menu--mobile')-->
    </div>
</div>
<div class="ps-panel--sidebar" id="search-sidebar">
    <div class="ps-panel__header">
        <form class="ps-form--search-mobile" action="@Url.Action("","")" method="get">
            <div class="form-group--nest">
                <input class="form-control" type="text" placeholder="Search something...">
                <button><i class="icon-magnifier"></i></button>
            </div>
        </form>
    </div>
    <div class="navigation__content"></div>
</div>
<div class="ps-panel--sidebar" id="menu-mobile">
    <div class="ps-panel__header">
        <h3>Menu</h3>
    </div>
    <div class="ps-panel__content">
        <ul class="menu--mobile">
            <li class="menu-item-has-children">
                <a href="@Url.Action("","")">
                    Home
                    <span class="fa fa-home float-right"></span>
                </a>
                @*<ul class="sub-menu">
                <li>
                    <a href="@Url.Action("","")">Marketplace Full Width</a>
                </li>
                <li>
                    <a href="@Url.Action("","")">Home Auto Parts</a>
                </li>
                <li>
                    <a href="@Url.Action("","")">Home Technology</a>
                </li>
                <li>
                    <a href="@Url.Action("","")">Home Organic</a>
                </li>
                <li>
                    <a href="@Url.Action("","")">Home Marketplace V1</a>
                </li>
                <li>
                    <a href="@Url.Action("","")">Home Marketplace V2</a>
                </li>
                <li>
                    <a href="@Url.Action("","")">Home Marketplace V3</a>
                </li>
                <li>
                    <a href="@Url.Action("","")">Home Marketplace V4</a>
                </li>
                <li>
                    <a href="@Url.Action("","")">Home Electronic</a>
                </li>
                <li>
                    <a href="@Url.Action("","")">Home Furniture</a>
                </li>
                <li>
                    <a href="@Url.Action("","")">Home Kids</a>
                </li>
                <li>
                    <a href="@Url.Action("","")">Home photo and picture</a>
                </li>
                <li>
                    <a href="@Url.Action("","")">Home Medical</a>
                </li>
            </ul>*@
            </li>
            <li class="menu-item-has-children has-mega-menu">
                <a href="@Url.Action("","")">
                    Shop
                    <span class="fa fa-shopping-cart float-right"></span>
                </a>
                @*<div class="mega-menu">
            <div class="mega-menu__column">
                <h4>
                    Catalog Pages
                    <span class="sub-toggle"></span>
                </h4>
                <ul class="mega-menu__list">
                    <li>
                        <a href="@Url.Action("","")">Shop Default</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Shop Fullwidth</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Shop Categories</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Shop Sidebar</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Shop Without Banner</a>
                    </li>
                    <li>cf
                        <a href="@Url.Action("","")">Shop Carousel</a>
                    </li>
                </ul>
            </div>
            <div class="mega-menu__column">
                    <h4>
                        Product Layout
                        <span class="sub-toggle"></span>
                    </h4>
                    <ul class="mega-menu__list">
                        <li>
                            <a href="@Url.Action("","")">Default</a>
                        </li>
                        <li>
                            <a href="@Url.Action("","")">Extended</a>
                        </li>
                        <li>
                            <a href="@Url.Action("","")">Full Content</a>
                        </li>
                        <li>
                            <a href="@Url.Action("","")">Boxed</a>
                        </li>
                        <li>
                            <a href="@Url.Action("","")">Sidebar</a>
                        </li>
                        <li>
                            <a href="@Url.Action("","")">Fullwidth</a>
                        </li>
                    </ul>
                </div>
            <div class="mega-menu__column">
                <h4>
                    Product Types
                    <span class="sub-toggle"></span>
                </h4>
                <ul class="mega-menu__list">
                    <li>
                        <a href="@Url.Action("","")">Simple</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Color Swatches</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Images Swatches</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Countdown</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Multi-Vendor</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Instagram</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Affiliate</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">On sale</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Video Featured</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Grouped</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Out Of Stock</a>
                    </li>
                </ul>
            </div>
            <div class="mega-menu__column">
                    <h4>
                        Woo Pages
                        <span class="sub-toggle"></span>
                    </h4>
                    <ul class="mega-menu__list">
                        <li>
                            <a href="@Url.Action("","")">Shopping Cart</a>
                        </li>
                        <li>
                            <a href="@Url.Action("","")">Checkout</a>
                        </li>
                        <li>
                            <a href="@Url.Action("","")">Whishlist</a>
                        </li>
                        <li>
                            <a href="@Url.Action("","")">Compare</a>
                        </li>
                        <li>
                            <a href="@Url.Action("","")">Order Tracking</a>
                        </li>
                        <li>
                            <a href="@Url.Action("","")">My Account</a>
                        </li>
                    </ul>
                </div>*@
            </li>
            @*<li class="menu-item-has-children has-mega-menu">
            <a href="#">Pages</a>
           <div class="mega-menu">
            <div class="mega-menu__column">
                <h4>
                    Basic Page
                    <span class="sub-toggle"></span>
                </h4>
                <ul class="mega-menu__list">
                    <li>
                        <a href="@Url.Action("","")">About Us</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Contact</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Faqs</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Comming Soon</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">404 Page</a>
                    </li>
                </ul>
            </div>
            <div class="mega-menu__column">
                <h4>
                    Vendor Pages
                    <span class="sub-toggle"></span>
                </h4>
                <ul class="mega-menu__list">
                    <li>
                        <a href="@Url.Action("RegisterVendor","Useraccounts")">Become a Vendor</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Vendor Store</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Vendor Dashboard Free</a>
                    </li>
                    <li>
                        <a href="@Url.Action("","")">Vendor Dashboard Pro</a>
                    </li>
                </ul>
            </div>
        </div>
        </li>
            @*<li class="menu-item-has-children has-mega-menu">
            <a href="#">Blogs</a>
            <span class="sub-toggle"></span>
            <div class="mega-menu">
                <div class="mega-menu__column">
                    <h4>
                        Blog Layout
                        <span class="sub-toggle"></span>
                    </h4>
                    <ul class="mega-menu__list">
                        <li>
                            <a href="@Url.Action("","")">Grid</a>
                        </li>
                        <li>
                            <a href="@Url.Action("","")">Listing</a>
                        </li>
                        <li>
                            <a href="@Url.Action("","")">Small Thumb</a>
                        </li>
                        <li>
                            <a href="@Url.Action("","")">Left Sidebar</a>
                        </li>
                        <li>
                            <a href="@Url.Action("","")">Right Sidebar</a>
                        </li>
                    </ul>
                </div>
        <div class="mega-menu__column">
                    <h4>
                        Single Blog
                        <span class="sub-toggle"></span>
                    </h4>
                    <ul class="mega-menu__list">
                        <li>
                            <a href="@Url.Action("","")">Single 1</a>
                        </li>
                        <li>
                            <a href="@Url.Action("","")">Single 2</a>
                        </li>
                        <li>
                            <a href="@Url.Action("","")">Single 3</a>
                        </li>
                        <li>
                            <a href="@Url.Action("","")">Single 4</a>
                        </li>
                    </ul>
                </div>
            </div>
            </li>*@

            <li class="menu-item-has-children has-mega-menu">
                <a href="@Url.Action("ProductList","Products")">
                    Products
                    <span class="fa fa-shopping-bag float-right"></span>
                </a>

                @*<div class="mega-menu">
                    <div class="mega-menu__column">
                        <h4>
                            Blog Layout
                            <span class="sub-toggle"></span>
                        </h4>
                        <ul class="mega-menu__list">
                            <li>
                                <a href="@Url.Action("","")">Grid</a>
                            </li>
                            <li>
                                <a href="@Url.Action("","")">Listing</a>
                            </li>
                            <li>
                                <a href="@Url.Action("","")">Small Thumb</a>
                            </li>
                            <li>
                                <a href="@Url.Action("","")">Left Sidebar</a>
                            </li>
                            <li>
                                <a href="@Url.Action("","")">Right Sidebar</a>
                            </li>
                        </ul>
                    </div>
            <div class="mega-menu__column">
                        <h4>
                            Single Blog
                            <span class="sub-toggle"></span>
                        </h4>
                        <ul class="mega-menu__list">
                            <li>
                                <a href="@Url.Action("","")">Single 1</a>
                            </li>
                            <li>
                                <a href="@Url.Action("","")">Single 2</a>
                            </li>
                            <li>
                                <a href="@Url.Action("","")">Single 3</a>
                            </li>
                            <li>
                                <a href="@Url.Action("","")">Single 4</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>*@

            <li class="menu-item-has-children has-mega-menu">
                <a href="@Url.Action("Index","Home")">
                    Services
                    <span class="fa fa-server float-right"></span>
                </a>
                @*<div class="mega-menu">
                    <div class="mega-menu__column">
                        <h4>
                            Blog Layout
                            <span class="sub-toggle"></span>
                        </h4>
                        <ul class="mega-menu__list">
                            <li>
                                <a href="@Url.Action("","")">Grid</a>
                            </li>
                            <li>
                                <a href="@Url.Action("","")">Listing</a>
                            </li>
                            <li>
                                <a href="@Url.Action("","")">Small Thumb</a>
                            </li>
                            <li>
                                <a href="@Url.Action("","")">Left Sidebar</a>
                            </li>
                            <li>
                                <a href="@Url.Action("","")">Right Sidebar</a>
                            </li>
                        </ul>
                    </div>
            <div class="mega-menu__column">
                        <h4>
                            Single Blog
                            <span class="sub-toggle"></span>
                        </h4>
                        <ul class="mega-menu__list">
                            <li>
                                <a href="@Url.Action("","")">Single 1</a>
                            </li>
                            <li>
                                <a href="@Url.Action("","")">Single 2</a>
                            </li>
                            <li>
                                <a href="@Url.Action("","")">Single 3</a>
                            </li>
                            <li>
                                <a href="@Url.Action("","")">Single 4</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>*@

            <li class="menu-item-has-children has-mega-menu">
                <a href="@Url.Action("Checkout","Products")">
                    Order
                    <span class="fa fa-phone float-right"></span>
                </a>
                @*<div class="mega-menu">
                    <div class="mega-menu__column">
                        <h4>
                            Blog Layout
                            <span class="sub-toggle"></span>
                        </h4>
                        <ul class="mega-menu__list">
                            <li>
                                <a href="@Url.Action("","")">Grid</a>
                            </li>
                            <li>
                                <a href="@Url.Action("","")">Listing</a>
                            </li>
                            <li>
                                <a href="@Url.Action("","")">Small Thumb</a>
                            </li>
                            <li>
                                <a href="@Url.Action("","")">Left Sidebar</a>
                            </li>
                            <li>
                                <a href="@Url.Action("","")">Right Sidebar</a>
                            </li>
                        </ul>
                    </div>
            <div class="mega-menu__column">
                        <h4>
                            Single Blog
                            <span class="sub-toggle"></span>
                        </h4>
                        <ul class="mega-menu__list">
                            <li>
                                <a href="@Url.Action("","")">Single 1</a>
                            </li>
                            <li>
                                <a href="@Url.Action("","")">Single 2</a>
                            </li>
                            <li>
                                <a href="@Url.Action("","")">Single 3</a>
                            </li>
                            <li>
                                <a href="@Url.Action("","")">Single 4</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>*@

            <li class="menu-item-has-children has-mega-menu">
                <a href="@Url.Action("myprofile","Useraccounts")">
                    My Profile
                    <span class="fa fa-user float-right"></span>
                </a>
                @*<div class="mega-menu">
                    <div class="mega-menu__column">
                        <h4>
                            Blog Layout
                            <span class="sub-toggle"></span>
                        </h4>
                        <ul class="mega-menu__list">
                            <li>
                                <a href="@Url.Action("","")">Grid</a>
                            </li>
                            <li>
                                <a href="@Url.Action("","")">Listing</a>
                            </li>
                            <li>
                                <a href="@Url.Action("","")">Small Thumb</a>
                            </li>
                            <li>
                                <a href="@Url.Action("","")">Left Sidebar</a>
                            </li>
                            <li>
                                <a href="@Url.Action("","")">Right Sidebar</a>
                            </li>
                        </ul>
                    </div>
            <div class="mega-menu__column">
                        <h4>
                            Single Blog
                            <span class="sub-toggle"></span>
                        </h4>
                        <ul class="mega-menu__list">
                            <li>
                                <a href="@Url.Action("","")">Single 1</a>
                            </li>
                            <li>
                                <a href="@Url.Action("","")">Single 2</a>
                            </li>
                            <li>
                                <a href="@Url.Action("","")">Single 3</a>
                            </li>
                            <li>
                                <a href="@Url.Action("","")">Single 4</a>
                            </li>
                        </ul>
                    </div>
                </div>*@
            </li>
        </ul>
    </div>
</div>