@{
    SalesboyServiceProviders.Models.salesboyEntities db = new SalesboyServiceProviders.Models.salesboyEntities();
    string email = "";
    if (Session["email"] != null)
    {
        email = Session["email"].ToString();
    }
    var user = db.ServiceProviders.FirstOrDefault(p => p.Email == email);
}
<header class="header header--mobile" data-sticky="true">
    <div class="header__top">
        <div class="header__left">
            <p>Welcome to Salesboy Nigeria Online Shopping Store !</p>
        </div>
        <div class="header__right">
            <ul class="navigation__extra">
                <li>
                    <a href="#">Sell on Salesboy Nigeria</a>
                </li>
                <li>
                    <a href="#">Tract your order</a>
                </li>
                <li>
                    <div class="ps-dropdown">
                        <a href="#">US Dollar</a>
                        <ul class="ps-dropdown-menu">
                            <li>
                                <a href="#">Us Dollar</a>
                            </li>
                            <li>
                                <a href="#">Euro</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="ps-dropdown language">
                        <a href="#"><img src="~/Content/Home/img/flag/en.png" alt="" />English</a>
                        <ul class="ps-dropdown-menu">
                            <li>
                                <a href="#"><img src="~/Content/Home/img/flag/germany.png" alt="" /> Germany</a>
                            </li>
                            <li>
                                <a href="#"><img src="~/Content/Home/img/flag/fr.png" alt="" /> France</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="navigation--mobile">
        <div class="navigation__left">
            <a class="ps-logo" href="#"><img src="~/Content/Home/img/logo.png" alt="" /></a>
        </div>
        <div class="navigation__right">
            <div class="header__actions">
                <div class="ps-cart--mini">
                    <a class="header__extra" href="#">
                        <i class="icon-bag2"></i><span>
                            <i>
                                @db.Carts.Where(p => p.useremail == email).Count()
                            </i>
                        </span>
                    </a>
                    <div class="ps-cart__content">
                        <div class="ps-cart__items">
                            @{
                                decimal total = 0;
                            }
                            @foreach (var item in db.Carts.Where(p => p.useremail == email).ToList())
                            {
                                total += Convert.ToDecimal(item.qty * item.Product.price);
                                <div class="ps-product--cart-mobile">
                                    <div class="ps-product__thumbnail">
                                        <a href="#"><img src="@item.Product.photo1" alt="" /></a>
                                    </div>
                                    <div class="ps-product__content">
                                        <a class="ps-product__remove" href="#"><i class="icon-cross"></i></a>
                                        <a href="@Url.Action("","")">@item.Product.productname</a>
                                        <p>
                                            <strong>Sold by:</strong> @item.Product.Vendor.brandname
                                        </p>
                                        <small>@item.qty X @item.Product.price</small>
                                    </div>
                                </div>
                            }

                        </div>
                        <div class="ps-cart__footer">
                            <h3>
                                Sub Total:
                                <strong>N @total</strong>
                            </h3>
                            <figure><a class="ps-btn" href="@Url.Action("Checkout","Products")">View Cart</a><a class="ps-btn" href="@Url.Action("Checkout","products")">Checkout</a></figure>
                        </div>
                    </div>
                </div>
                @if (Session["emial"] == null)
                {
                    <div class="ps-block__left">
                        <a href="@Url.Action("","")">
                            <!--<i class="icon-user"></i>-->
                        </a>
                    </div>
                }
                <div class="ps-cart--mini">
                    <a class="header__extra" href="#">
                        <i class="icon-user"></i>
                        <!--<span>
            <i>00</i>
             </span>-->
                    </a>
                    <div class="ps-cart__content">
                        <div class="ps-cart__items">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="ps-form--account ps-tab-root">
                                        <ul class="ps-tab-list">
                                            <li class="active"><a href="#sign-in">Login</a></li>
                                            <li><a href="#register">Register</a></li>
                                        </ul>
                                        <div class="ps-tabs pre-scrollable">
                                            <div class="ps-tab active" id="sign-in">
                                                <form action="" method="post">
                                                    <div class="ps-form__content">
                                                        <h5>Log In Your Account</h5>
                                                        <div class="form-group">
                                                            <input class="form-control" type="email" required="" name="email" placeholder="Username or email address">
                                                        </div>
                                                        <div class="form-group form-forgot">
                                                            <input class="form-control" type="password" name="password" placeholder="Password"><a href="#">Forgot?</a>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="ps-checkbox">
                                                                <input class="form-control" type="checkbox" id="remember-me" name="remember-me" />
                                                                <label for="remember-me">Rememeber me</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group submtit">
                                                            <button class="ps-btn ps-btn--fullwidth">Login</button>
                                                        </div>
                                                    </div>
                                                </form>

                                                <div class="ps-form__footer">
                                                    <p>Connect with:</p>
                                                    <ul class="ps-list--social">
                                                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
                                                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="ps-tab" id="register">
                                                <form class="mx-1 mx-md-4" method="post" action="@Url.Action("Register","Useraccounts")">
                                                    @Html.AntiForgeryToken()
                                                    <strong class="text-danger">
                                                        @TempData["message"]
                                                    </strong>
                                                    <hr />
                                                    <div class="d-flex flex-row align-items-center mb-4">
                                                        <div class="form-outline flex-fill mb-0">
                                                            <label class="form-label" for="form3Example1c">First Name</label>
                                                            <input type="text" name="firstname" id="" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="d-flex flex-row align-items-center mb-4">
                                                        <div class="form-outline flex-fill mb-0">
                                                            <label class="form-label" for="form3Example1c">Last Name</label>
                                                            <input type="text" name="lastname" id="" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-row align-items-center mb-4">
                                                        <div class="form-outline flex-fill mb-0">
                                                            <label class="form-label" for="form3Example3c">Phone</label>
                                                            <input type="text" name="phone" id="" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-row align-items-center mb-4">
                                                        <div class="form-outline flex-fill mb-0">
                                                            <label class="form-label" for="form3Example3c">State of Residence</label>
                                                            <select class="form-control" name="state" required="">
                                                                @foreach (var item in db.States.OrderBy(p => p.states).ToList())
                                                                {
                                                                    <option value="@item.states">@item.states</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-row align-items-center mb-4">
                                                        <div class="form-outline flex-fill mb-0">
                                                            <label class="form-label" for="form3Example3c">Your Email</label>
                                                            <input type="email" name="email" id="" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="d-flex flex-row align-items-center mb-4">
                                                        <div class="form-outline flex-fill mb-0">
                                                            <label class="form-label" for="">Password</label>
                                                            <input type="password" name="password" id="" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="d-flex flex-row align-items-center mb-4">
                                                        <div class="form-outline flex-fill mb-0">
                                                            <label class="form-label" for="form3Example4cd">Repeat your password</label>
                                                            <input type="password" name="cpassword" id="" class="form-control" />
                                                        </div>
                                                    </div>

                                                    <div class="form-check d-flex justify-content-center mb-5">
                                                        <input class="form-check-input me-2" type="checkbox" value="" name="agree" id="form2Example3c" />
                                                        <label class="form-check-label" for="form2Example3">
                                                            I agree all statements in <a href="#!">Terms of service</a>
                                                        </label>
                                                    </div>

                                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                                        <button class="ps-btn ps-btn--fullwidth">Register</button>
                                                    </div>

                                                </form>
                                                <div class="ps-form__footer">
                                                    <p>Connect with:</p>
                                                    <ul class="ps-list--social">
                                                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                                        <li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
                                                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                                        <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ps-cart__footer">
                            @*<figure><a class="ps-btn" href="@Url.Action("Checkout","Products")">View Cart</a><a class="ps-btn" href="@Url.Action("Checkout","products")">Checkout</a></figure>*@
                        </div>
                    </div>
                </div>
                @*<div class="ps-block--user-header">
            @if (Session["emial"] == null)
            {
                <div class="ps-block__left">
                    <a href="@Url.Action("","")"><i class="icon-user"></i></a>
                </div>
            }
            else
            {-->
                <!--<div class="ps-block__right">
                    <a href="@Url.Action("Login","Useraccounts")">Login</a>
                    <a href="@Url.Action("Register","Useraccounts")">Register</a>
                </div>-->
                <!--<div class="ps-block__left">
                    <a href="@Url.Action("","")"><i class="icon-user"></i></a>
                </div>
            }
        </div>*@
            </div>
        </div>
    </div>
    <div class="ps-search--mobile">
        <form class="ps-form--search-mobile" action="#" method="get">
            <div class="form-group--nest">
                <input class="form-control" type="text" placeholder="Search something..." />
                <button><i class="icon-magnifier"></i></button>
            </div>
        </form>
    </div>
</header>