@model SalesboyMobile.Models.ServiceProvider

@{
    ViewBag.Title = "ViewServiceProvider";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row m-4">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 m-3 col-3">
                        <img src="@Model.photo" class="img-responsive" />
                    </div>
                    <div class="col-md-9 m-9 col-9">
                        <strong>
                            @Model.brandname
                        </strong>
                        <hr />
                        <p>
                            @Model.about
                        </p>
                        <hr />
                        <strong>Email: @Model.Email</strong> ||
                        <strong>Email: @Model.phone</strong>
                        <hr />
                        <center>
                            <a href="@Url.Action("","")" class="btn btn-sm btn-primary">
                                My Services
                            </a>
                            <div class="row">
                                <div class="m-4 col-4">
                                    
                                </div>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
